<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
       default-autowire="byName" default-lazy-init="false">

    <context:component-scan base-package="com.sparrow.rocketmq"/>

    <bean name="messageConverter" class="com.sparrow.rocketmq.impl.SparrowJsonMessageConverter">
        <property name="charset" value="UTF-8"/>
    </bean>
    <bean name="queueHandlerMappingContainer" class="com.sparrow.mq.DefaultQueueHandlerMappingContainer"/>
    <bean id="rocketMQMessageListener" class="com.sparrow.rocketmq.impl.SparrowRocketMQMessageListener">
        <property name="messageConverter" ref="messageConverter"/>
        <property name="queueHandlerMappingContainer" ref="queueHandlerMappingContainer"/>
    </bean>

    <bean id="mqConsumer" class="com.sparrow.rocketmq.spring.SpringRocketMQConsumer">
        <property name="groupName" value="consumer-group"/>
        <property name="topicConfigList">
            <list>
                <bean class="com.sparrow.rocketmq.impl.TopicTagPair">
                    <property name="topic" value="sparrow-topic"/>
                    <property name="tags">
                        <list>
                            <value>tag</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
        <property name="messageListener" ref="rocketMQMessageListener"/>
        <property name="nameServerAddress" value="127.0.0.1:9876"/>
    </bean>

    <bean id="helloHandler" class="com.sparrow.rocketmq.protocol.handler.HelloWorldHandler">
        <property name="queueHandlerMappingContainer" ref="queueHandlerMappingContainer"/>
    </bean>
</beans>